body{
    background-color: #FFE11F;
}

.side-bar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.side-bar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.side-bar-nav li a {
    display: block;
    text-decoration: none;
    color: #1651B8;
}

.side-bar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.side-bar-nav li a:active,
.side-bar-nav li a:focus {
    text-decoration: none;
}

.nav{
    background: #1651B8;
}

.nav > .navbar-header > a {
    color: white;
}

.content-page{
    background: white;
}

.footer footer{
    position: relative;
}

.cursos-item > .row{
    margin-bottom: 10px;
    color: #1651B8;
}

.txt-right{
    text-align: right;
}
